CompileFlags:
  Add:
    - -std=c++23
    - -ffreestanding
    - -fno-exceptions
    - -fno-rtti
    - -fno-stack-protector
    - -Wall
    - -Wextra
  Remove:
    - -mabi=*
  Compiler: clang++

Index:
  Background: Build
  StandardLibrary: No

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Diagnostics:
  ClangTidy:
    Add: [readability-*, performance-*, modernize-*]
    Remove: [modernize-use-trailing-return-type]
  UnusedIncludes: Strict

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes